{% extends 'base.html.twig' %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Nbr Question Facile</th>
                <th>Nbr Question Moyen</th>
                <th>Nbr Question Difficile</th>
                <th>Force</th>
                <th>Loots</th>
                <th colspan="2" ><a class="btn btn-success btn-block" href="{{ path('createMonstre') }}">Créer</a></th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('MONSTRE_DELETE') %}
            {% for monstre in monstres %}
                <tr>
                    <td>{{ monstre.id }}</td>
                    <td>{{ monstre.nom}}</td>
                    <td>{{ monstre.description }}</td>
                    <td>{{ monstre.nbrEasyQuestion }}</td>
                    <td>{{ monstre.nbrMediumQuestion }}</td>
                    <td>{{ monstre.nbrHardQuestion }}</td>
                    <td>{{ monstre.forceM }}</td>
                    <td>
                        {% for loot in monstre.loots %}
                            <span class="badge">{{ loot.titre }}</span>
                        {% endfor %}
                    </td>
                    <td><a class="btn btn-warning" href="{{ path('editMonstre',{id:monstre.id}) }}">Modifier</a></td>
                    <td><a class="btn btn-danger" href="{{ path('deleteMonstre',{id:monstre.id,token:token}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

