{% extends 'base.html.twig' %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Description</th>
                <th colspan="2" ><a class="btn btn-success btn-block" href="{{ path('createLoot') }}">Créer</a></th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('LOOT_DELETE') %}
            {% for loot in loots %}
                <tr>
                    <td>{{ loot.id }}</td>
                    <td>{{ loot.titre}}</td>
                    <td>{{ loot.description }}</td>
                    <td><a class="btn btn-warning" href="{{ path('editLoot',{id:loot.id}) }}">Modifier</a></td>
                    <td><a class="btn btn-danger" href="{{ path('deleteLoot',{id:loot.id,token:token}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

