{% extends 'base.html.twig' %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th colspan="2" ><a class="btn btn-success btn-block" href="{{ path('createCaseMapEventType') }}">Créer</a></th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('CASEMAPEVENTTYPE_DELETE') %}
            {% for caseMapEventType in caseMapEventTypes %}
                <tr>
                    <td>{{ caseMapEventType.id }}</td>
                    <td>{{ caseMapEventType.titre}}</td>
                    <td><a class="btn btn-warning" href="{{ path('editCaseMapEventType',{id:caseMapEventType.id}) }}">Modifier</a></td>
                    <td><a class="btn btn-danger" href="{{ path('deleteCaseMapEventType',{id:caseMapEventType.id,token:token}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

