{% set currentRoute = app.request.attributes.get('_route') %}

<div class="container">
    <ul class="nav nav-pills nav-fill">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')%}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_index') }}">Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listCaseMap') }}">CaseMap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listCaseMapEvent') }}">CaseMapEvent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listCaseMapEventType') }}">CaseMapEventType</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listCaseMapType') }}">CaseMapType</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listLoot') }}">Loot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('listMonstre') }}">Monstre</a>
            </li>

        {% endif %}
        {% if is_granted('ROLE_MODO') %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_qcm_index') }}">Liste des question de qcm enregistre</a>
            </li>

        {% endif %}
        {%if app.user %}
            {% if app.user.email is defined %}<li class="nav-item">{{ app.user.email }}</li>{% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ path('app_qcmprime_index') }}">QCM</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_security_logout') }}">Deco</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_security_connexion') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_security_inscription') }}">Inscription</a>
            </li>
        {% endif %}
    </ul>
</div>
